@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DOCTORES</h1>
    <p class="lead">En esta pagina muestra el registro de algunos doctores con su especialidad que se encuentran en celaya y el hospital donde se encuentra laborando.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Mas informacion &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DOCTORES</h2>
        <p>
            En esta seccion podras encontrar diferentes doctores
            para una cita que quieras realizar con el mismo, y saber
            que hospital cuenta con sus servicios
        </p>
        <p class="btn btn-default"> @Html.ActionLink("Ver todos","VistaDoctores","Doctores")</p>
    </div>
    <div class="col-md-4">
        <h2>ESPECIALIDADES</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p class="btn btn-default"> @Html.ActionLink("Ver todos", "VistaEspecialidades", "Especialidads")</p>
    </div>
    <div class="col-md-4">
        <h2>HOSPITALES</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p class="btn btn-default"> @Html.ActionLink("Ver todos", "VistaHospitales", "Hospitals")</p>    </div>
</div>